<section id="gallery" class="gallery-section section-padding">
  <div class="container">
    <div class="section-header text-center">
      <h2 class="font-headline-lg text-primary">Galeri Kegiatan & Produk</h2>
      <p class="font-body-md text-variant" style="margin-top: 6px;">Suasana rumah produksi dan sajian kerupuk Abdi Barokah</p>
      <div class="divider-line"></div>
    </div>

    <div class="gallery-grid">
      <div class="gallery-item">
        <img src="/Asset/Gallery1.jpg" alt="Penjemuran Kerupuk Tradisional">
        <div class="gallery-overlay">Penjemuran Alami Sinar Matahari</div>
      </div>

      <!-- <div class="gallery-item col-span-2">
        <img src="https://lh3.googleusercontent.com/aida-public/AB6AXuAKxdKf9C7LRgJJlq-RFcuhpR8p2Q7lWlyOMA9UCpboq8a1gMhNQmYMUukPEc4Furq9PK2qZIo0dWj_e6U2i8Ywgtl1JNtNR6_ycFCzJ02YzVw-KiCA3XG9cy0P_FE4zNWZkHXXv_eLDxYgcdndLv5KgEsgUSdAER_KKDA-paJ3CXsy69Ds3Omm_CuNEmrack4eIFPmEeiLK8NbTrMeRUmDwUXxNmIg4ZKq0EM4how3L9qmp-hePWcBdg" alt="Area Pengemasan Kerupuk">
        <div class="gallery-overlay">Area Pengemasan Bersih & Rapi</div>
      </div> -->

      <div class="gallery-item">
        <img src="/Asset/Gallery2.jpg" alt="Detail Tekstur Kerupuk Renyah">
        <div class="gallery-overlay">Tekstur Mekar Khas Bawang Gurih</div>
      </div>

      <!-- <div class="gallery-item col-span-2">
        <img src="https://lh3.googleusercontent.com/aida-public/AB6AXuDtvPm3myVF97OFxNBMMv6RBnD5O6P0hzCUnRDqAknGQEFZehPqHHsTOUeqCgk0SFCLU9CS1r-sqOgGBnud2MRuZe16pgfbIkQANGLAothQjpdzoDFMbiAeDskP-wKN4Ya4mKBlEnRE8BHt5wGLJSF0AMrZPgswCGtW1tFyMM_sxq4jGGmN1HznakzT15B00-uAuAXwR3q11HEQV9zXPAFfy5qntQKHghUpOc41bMX50q6Vi22DhHASkA" alt="Tim Produksi UMKM Kedali">
        <div class="gallery-overlay">Dedikasi Tim UMKM Desa Kedali</div>
      </div> -->

      <div class="gallery-item">
        <img src="/Asset/Gallery3.jpg" alt="Sajian Kerupuk Bersama Keluarga">
        <div class="gallery-overlay">Teman Santap Bersama Keluarga</div>
      </div>

      <div class="gallery-item">
        <img src="/Asset/Gallery4.jpg" alt="Bahan Alami Segar">
        <div class="gallery-overlay">Bumbu Bawang Asli Tanpa Pengawet</div>
      </div>
    </div>
  </div>
</section>
